// Global styling
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include font;
  font-weight: 400;
  -webkit-tap-highlight-color: $gray-900;
}

section {
  padding: 8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font;
  font-weight: 700;
}

hr {
  max-width: 500px;
  border-width: 3px;
  border-color: $primary;

  &.light {
    border-color: $white;
  }
  &.left-line {
    max-width: 150px;
    border-width: 10px;
  }
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

a.home-links-text {
  color: $white;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

a.home-links-icon {
  color: $white;
  &:hover {
    color: $gray-400;
  }
}

.about {
  font-size: 16pt;
  padding-top: 2rem;

  a {
    color: lighten($primary, 25%);
    text-decoration: underline;
    &:hover {
      color: lighten($primary, 10%);
    }
  }
}

a.home-footer-link {
  font-size: 14pt;
  color: $gray-400;
  text-decoration: none;
  &:hover {
    color: $gray-500;
  }
}

p.home-footer {
  font-size: 14pt;
  color: $gray-400;
}

p.home-footer-copy {
  font-size: 12pt;
  color: $gray-600;
}

.alert-primary {
  background-color: lighten($primary, 30%);
  border-color: lighten($primary, 15%);
  color: darken($primary, 30%);
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #271f3a;
}

::-webkit-scrollbar-thumb {
  background: #8954dd;
}

::-webkit-scrollbar-thumb:hover {
  background: #7243b5;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 18pt;
  }
  h3 {
    font-size: 12pt;
  }
  section {
    padding: 2rem;
    padding-top: 6rem;
  }
  .about {
    padding-top: 1rem;
    font-size: 12pt;
  }
  a.home-links-text {
    font-size: 10pt;
  }
  a.home-links-icon {
    font-size: 6pt;
  }
  a.home-footer-link {
    font-size: 10pt;
  }
  p.home-footer {
    font-size: 10pt;
  }
  p.home-footer-copy {
    font-size: 8pt;
  }
  hr.left-line {
    border-width: 8px;
  }
}
