// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include font;
  font-weight: 400;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font;
  font-weight: 700;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #271f3a;
}

::-webkit-scrollbar-thumb {
  background: #8954dd;
}

::-webkit-scrollbar-thumb:hover {
  background: #7243b5;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}
