// Styling for the masthead
.masthead {
  background: url('../img/header.png') center center fixed;
  @include background-cover;
  @media (max-width: 991.98px) {
    width: 100%;
  }
  @media (min-width: 991.98px) {
    height: 100%;
  }
}
