// Mixins
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin font() {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}
