@media screen and (max-width: 480px){
	.footer-distributed{
		height: auto;
	}
}

@media screen and (min-width: 480px){
	.footer-distributed{
		height: 155px;
	}
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family:'Open Sans',Arial,sans-serif;

	padding: 45px 50px;
	margin-top: 10px;
}

.footer-distributed .footer-left p{
	color:  #c1c1c1;
	font-size: 16px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: 500;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed p.footer-links a:hover{
	font-weight: 600;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
