<footer class="footer-distributed">
  <div class="footer-right">
    <a href="https://instagram.com/lasa2019" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/lasa2019" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="mailto:griffin@lasa2019.com" target="_blank"><i class="fa fa-envelope"></i></a>
    <div class="my-2 text-secondary small">
      Built {{ site.time | date:"%b %d, %Y at %l:%M %P" }}
    </div>
  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a href="index.html#page-top">Home</a>
      ·
      <a href="index.html#about">About</a>
      ·
      <a href="mailto:griffin@lasa2019.com" target="_blank">Contact</a>
      ·
      <a href="https://github.com/griffindvs/lasa2019.design" target="_blank">GitHub Repo</a>
      ·
      <a href="http://mail.lasa2019.com/" target="_blank">Login</a>
    </p>
    <p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> <a href="https://griffindvs.com" target="_blank" style="text-decoration:none;color:inherit;">Griffin Davis</a> and <a href="https://camk.co" target="_blank" style="text-decoration:none;color:inherit;">Cameron Kleiman</a>. All Rights Reserved.</p>
  </div>
</footer>
